/* Add CSS Styling */
.odd-num {
  background-color: rgb(235, 155, 155);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adjust-font-size {
  font-size: 24px;
}
#even {
  color: blue;
  font-size: 36px;
}

#last {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
